RewriteRule 2008/bbc/high-availability(.html)? 2008/high-availability
RewriteRule 2010/javascript-london/getting-started-with-node-js(.html)? 2010/node-js-introduction

RewriteRule ^([^.]+)$ $1.html [QSA]
IndexIgnore talks/ui
IndexOptions ScanHTMLTitles FancyIndexing IconsAreLinks FoldersFirst